@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
}
.titulo{
font-size: 150px; 
flex-grow: 2;
align-items: center;
justify-content: center;
display: flex;
}
h1{   
    text-align: center;
    font-family: Garamond;
    font-weight: 100;
    color:brown;
}
.container{
background-color: #f37c1b;
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}
.titulo:hover{
color: #1d680a;
transform: scale(1.1);
transition: 3s;
}
.link{
color: inherit;
text-decoration: none;
}
.link:active{
text-decoration: underline;
}
.container-boxes{
width: 100%;
flex-grow: 5;
display: flex;
}
.box{
background-color: blanchedalmond;
flex-grow: 1;

}
.box1{
background-color: aquamarine;
flex-grow: 2;
}
.box2{
background-color: cadetblue;
background-image: url("images/gatinho.jpg");
background-position: center;
background-size: cover;
animation: animabox 5s linear infinite;
}
.box3{
background-color: purple;
flex-grow: 3;
}
.saudacao{
    flex-grow: 1;
}
.saudacao button{
width: inherit;
height: inherit;
color: inherit;
font-size: inherit;
border: none; 
background-color: inherit;
}
.saudacao:hover, .saudacao button:focus{
animation: animasaudacao 1s ease-in infinite;
}
@keyframes animabox {
0%{
    flex-grow: 1;
}
50%{
    flex-grow: 10;
}
100%{
    flex-grow: 1;
}
}
@keyframes animasaudacao {
0%{
    transform: rotate(0deg)
}
25%{
    
    transform: rotate(10deg)
}
50%{
    transform: rotate(0deg)
}
75%{
    transform: rotate(-10deg)
    
}
100%{
    transform: rotate(0deg)

}
}

@media screen and (max-width: 600px) {
.titulo{
font-size: 3rem;
}
}
